.aboutMe {
  display: flex;
  @include baseComponent;
  &__header {
    @include colorTitle;
    h6 {
      padding: 2% 0;
      font-weight: normal;
    }
  }
  &__divider {
    @include divider;
  }
  &__description {
    padding: 1% 0;
    >p {
      line-height: 2;
    }
    &__button {
      margin-top: 30px;
      background-color: $primaryColor;
      text-transform: lowercase;
      border-radius: 10px;
      span {
        text-transform: uppercase;
        font-size:clamp(0.9rem, 0.8308rem + 0.3077vw, 1.2rem)
      }
      &:hover{
        background-color: darken($primaryColor, 10%);
      }
    }
  }
}