.navbar {
  height: 65px;
  background-color: rgba(0, 0, 0, .9);
  border-top: #036f7b 5px solid;
  &__minNav{
    display: none;
    Button {
      border: 1px solid #999999;
      color: #999999;
      &:hover {
        border-color: white;
        color: white;
      }
    }
  }
  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 15%;
  }
  &__navDrawer {
    background-color: rgba(0, 0, 0, .9);
    color: #999999;
    &__button {
      &:hover {
        color: white;
      }
      &Icon {
        color: white;
      }
    }
  }
  &__button {
    cursor: pointer;
    font-size:clamp(0.9rem, 0.8308rem + 0.3077vw, 1.2rem);
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  @include tablet-only {
    &__normalNav{
      display: none;
    }
    &__minNav{
      display: flex;
    }
  }

  @include tablet-paysage-only {
    &__nav {
      padding: 0;
      justify-content: space-between;

    }
  }
}