# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/cdsamet_front/node_modules
/cdsamet_front/.pnp
/cdsamet_front/.pnp.js

# testing
/cdsamet_front/coverage

# next.js
/cdsamet_front/.next/
/cdsamet_front/out/

# production
/cdsamet_front/build

# misc
/cdsamet_front/.DS_Store
/cdsamet_front/*.pem

# debug
/cdsamet_front/npm-debug.log*
/cdsamet_front/yarn-debug.log*
/cdsamet_front/yarn-error.log*
/cdsamet_front/.pnpm-debug.log*

# local env files
/cdsamet_front/.env*.local

# vercel
/cdsamet_front/.vercel

# typescript
/cdsamet_front/*.tsbuildinfo

#.idea
.idea
/cvsamet_front/.ideao