# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/cvsamet_front/node_modules
/cvsamet_front/.pnp
/cvsamet_front/.pnp.js

# testing
/cvsamet_front/coverage

# next.js
/cvsamet_front/.next/
/cvsamet_front/out/

# production
/cvsamet_front/build

# misc
/cvsamet_front/.DS_Store
/cvsamet_front/*.pem

# debug
/cvsamet_front/npm-debug.log*
/cvsamet_front/yarn-debug.log*
/cvsamet_front/yarn-error.log*
/cvsamet_front/.pnpm-debug.log*

# local env files
/cvsamet_front/.env*.local

# vercel
/cvsamet_front/.vercel

# typescript
/cvsamet_front/*.tsbuildinfo

#.idea
.idea
/cvsamet_front/.idea
/cvsamet_front/yarn.lock