@font-face {
  font-family: 'poppinsregular';
  src: url('../typographie/poppins/poppins-regular-webfont.woff2') format('woff2'),
  url('../typographie/poppins/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}