$breakpoints: (
        desktops-large: 1439px,
        desktops: 1279px,
        tablet: 767px,
        mobile: 479px
);

@mixin desktops-large-only {
  @media screen and (max-width: map-get($breakpoints, desktops-large)) {
    @content;
  }
}

@mixin desktops-only {
  @media screen and (max-width: map-get($breakpoints, desktops)) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin tablet-paysage-only {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin mobile-paysage-only {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

//utils mixin
@mixin baseComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

@mixin colorTitle($color: $primaryColor) {
  padding: 0.5% 0;
  h1 {
    color: $color;
    padding: 2% 0;
  }
}

@mixin divider($color: #000000) {
  border-bottom-width: 0.5px;
  background-color: $color;
  width: 95%;
  height: 50%;
}