// Typo and Color
$firstTypo : 'poppinsregular', sans-serif;
$primaryTypoColor: lightgrey;
$primaryColor :	rgb(189,183,107);

// Border
$basicBorderBlack : 1px solid black;
$basicBorderWhite : 1px solid white;
$separateBorder : 1px solid rgba(0,0,0,0.25);
